// COLORS
$primary-color: #363538;
$secondary-color: #8d8c8a;

$white-color: #fff;

$dark-grey: #363538;
$light-grey: #8d8c8a;

$dark-blue-text: #1e1c1c; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
